ul.posts {
  li.post {
    @include span-columns(4 of 12);
    @include omega(3n);
    height: 350px;
    margin-bottom: 0;

    &:hover {
      .post-image {
        &:before {
          background-color: rgba($black, .9);
        }
      }

      .post-heading {
        color: white;
      }
    }

    @include media(max-width $medium-screen) {
      @include span-columns(4 of 4);
    }
  }
}

.post-image {
  @include grayscale(100%);
  @include size(260px);
  @include transition(all .15s linear);
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  img {
    margin: 0;
    min-width: 170%;
    display: block;
  }

  &:before {
    @include transition(all .15s linear);
    @include position(absolute, 0px 0px 0px 0px);
    background-color: $mint-green;
    content: '';
    display: block;
    opacity: .7;
  }
}

.post-heading {
  @include position(relative, -190px 0 0 0);
  margin: 0 auto;
  text-align: center;
  z-index: 2;

  h1 {
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: .5em auto 1.4em;
    padding-bottom: 1em;
    padding: 0 .5em;
    text-transform: uppercase;
    width: 50%;
  }
}
