ul.posts {
  li.post {
    @include span-columns(6 of 12);
    @include omega(2n);
    height: 350px;
    margin-bottom: 0;

    &:hover {
      .post-image {
        &:before {
          background-color: rgba($black, .9);
        }
      }
    }
  }
}

.post-image {
  @include grayscale(100%);
  @include size(300px);
  @include transition(all .15s linear);
  border-radius: 50%;
  margin: 0 auto;
  opacity: .8;
  overflow: hidden;
  position: relative;

  img {
    margin: 0;
    min-width: 170%;
    display: block;
  }

  &:before {
    @include transition(all .15s linear);
    @include position(absolute, 0px 0px 0px 0px);
    background-color: $mint-green;
    content: '';
    opacity: .7;
    display: block;
  }
}

.post-heading {
  @include position(relative, -200px 0 0 0);
  color: $black;
  font-weight: 700;
  margin-bottom: 1em;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  z-index: 2;

  h1 {
    padding: .3em 0;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h5 {
    padding: 1em 0;
    display: inline-block;

    &.date {
      border-bottom: 1px solid $black;
    }

    &.location {
      border-top: 1px solid $black;
    }
  }
}

.post-summary {
  h1 {
    display: none;
  }

  p {
    font-size: 1em;
    line-height: $base-line-height * 1.1;
  }

  a {
    color: $dark-gray;
  }

  .image {
    display: none;
  }
}
