body, html {
  background-color: $mint-green;
}

main {
  @include outer-container;
}

section {
  clear: both;
  margin: 2em 0;
}

ul.posts {
  li.post {
    padding: 2em 0;

    &:last-of-type {
      border-bottom: none;
    }

    h5 {
      font-size: .9em;
      line-height: 1px;
    }
  }
}

ol {
  li {
    display: inline-block;
    font-size: .9em;
    font-weight: 500;
    margin: .4em 0;
  }
}

p {
  img {
    width: 50%;
  }
}
