#main {
  @include outer-container;
}

.large-col {
  @include span-columns(8 of 12);
}

.small-col {
  @include span-columns(4 of 12);
}

ul.posts {
  li.post {
    border-bottom: 1px dotted $light-gray;
    padding: 2em 0;

    &:last-of-type {
      border-bottom: none;
    }

    h5 {
      font-size: .9em;
      line-height: 1px;
    }
  }
}

ol {
  li {
    font-size: .9em;
    font-weight: 500;
    margin: .4em 0;

    h5 {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}
