section {
  margin: 2em 0;
}

p {
  font-size: 1.1em;
  line-height: $base-line-height * 1.25;
  margin-bottom: 1.5em;
}

figure {
  margin: 2em 0 1em;
  width: 100%;

  .image {
    margin: .5em 0;

    img {
      @include fill-parent;
      display: block;
    }
  }

  figcaption {
    color: darken($light-gray, 30);
    font-size: .9em;
    margin-top: 1em;
  }
}
