h1, h2, h3, h4, h5, p {
  margin-bottom: 1em;
  text-align: center;
}

ul.thumb-wrap {
  @include size(500px);

  li.thumbnail {
    @include span-columns(4);
    @include omega(3n);
    @include transition(all, .15s linear);
    overflow: hidden;
    margin-bottom: 1.5em;

    &:hover {
    }

    img {
      @include fill-parent;
      display: block;
    }
  }
}
