---
layout: posts
title: A Brand New Post
subtitle: Blogging All Things
date: 2014-04-20
image: silence.jpg
location: Oakland
tags: handlettering, street art
---

![papers][papers]
I found this specimen in East Bay on my walk home from the BART Ashby station.

[papers]:papers.jpg
