---
layout: posts
title: Capitol Type
date: 2014-05-02 07:23 UTC
location: San Francisco
image: capitol-type/yolo.jpg
tags: serif, signage, outdoors
---

%h1 Type at the State Capitol

%ul.thumb-wrap
  %li.thumbnail
    %img(src="/images/capitol-type/calls.jpg")
  %li.thumbnail
    %img(src="/images/capitol-type/dayshift.jpg")
  %li.thumbnail
    %img(src="/images/capitol-type/exit.jpg")
  %li.thumbnail
    %img(src="/images/capitol-type/information.jpg")
  %li.thumbnail
    %img(src="/images/capitol-type/private.jpg")
  %li.thumbnail
    %img(src="/images/capitol-type/usmail.jpg")
  %li.thumbnail
    %img(src="/images/capitol-type/yolo.jpg")
